@*Abbie Luper Index Page*@

@{
    ViewData["Title"] = "Home Page";
    ViewData["Header"] = "Abbie Luper";
}

<br />
<!--images of things I like to do-->
<div style="text-align:center;">
    <div class="row">
        <div class="column">
            <img src="~/img/travel.jpg" alt="Traveling">
        </div>
        <div class="column">
            <img src="~/img/pals.jpg" alt="Friends">
            <img src="~/img/hiltonHead.jpg" alt="Hilton Head">
        </div>
        <div class="column">
            <img src="~/img/bryceCanyon.jpg" alt="Bryce Canyon">
            <img src="~/img/Georgia.jpg" alt="Georgia">
        </div>
        <div class="column">
            <img src="~/img/artMuseum.jpg" alt="Art Museum">
            <img src="~/img/friends.jpg" alt="Friends">
        </div>
        <div class="column">
            <img src="~/img/Butterfly.jpg" alt="Butterfly">
        </div>

    </div>
</div>

<br />

<!--what I hope to get out of IS 413-->
<h4 class="Headers">IS 413</h4>
<p>
    In this class I hope to gain many important skills. To start, I hope to
    learn c# and asp.net. As I have talked to various companies and employers in my
    search for an internship, most of them have explained that they use c# and asp.net
    as their main language. Because it is so widely used in industry, I really want to
    have a deep understanding of how it works! Additionally, I want to learn new ways to learn.
    I have realized that one of the most important skills you gain in college is how to learn.
    I want to learn new ways to pick up different languages so that I will be able to do the same
    in industry. Finally, I want to have fun along the way!
</p>
<br />

<!--top 3 job ideas after graduation-->
<h4 class="Headers">Top 3 Jobs</h4>
<ol>
    <li>Web Developer</li>
    <li>Data Analyst</li>
    <li>Machine Learning Engineer</li>
</ol>
<br />
<br />
<br />

